

<li class="w-clearfix post">
  <a style="cursor:pointer" class="w-inline-block vote-buttons" {{action "changeVote" post.id}}>
    <div {{bind-attr class=":up-button post.hasVoted:voted"}}>⬆</div>
  </a>

  <div class="count">{{post.voteCount}}</div>

  <div class="post-title">
    <a class="title" target="_blank" {{bind-attr href="post.url"}}>
      {{post.title}}
    </a>
  </div>

  {{#link-to "post" post classNames="w-inline-block comments-box"}}
    <img class="pic" src="assets/images/1395503154_spechbubble_2.png" width="30">
    <div class="comment-count">{{post.commentCount}}</div>
  {{/link-to}}

  <div class="w-clearfix post-info">
    {{#link-to "user" post.user classNames="post-user"}}
      {{post.user.username}}
    {{/link-to}}

    <a class="domain">
      {{post.domain}}
    </a>

    <div class="post-date">
      {{#link-to "post" post}}
        {{post.dateString}}
      {{/link-to}}
    </div>
  </div>
</li>

