<div class="header">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6 w-col-small-6">
        <h1 class="logo"><a href="/">Emberscope</a></h1>
      </div>
      <div class="w-col w-col-6 w-col-small-6 nav-bar">
        {{#if loggedInUser}}
          <a class="nav" {{action "openModal" "submit-dialog"}}>Submit</a>
          <a class="nav" {{action "logout"}}>Logout</a>
        {{else}}
          <a class="nav" {{action "openModal" "login-dialog"}}>Login</a>
          <a class="nav" {{action "openModal" "signup-dialog"}}>Signup</a>
        {{/if}}
        <a class="nav" href="#">About</a>
      </div>
    </div>
  </div>
</div>

{{outlet}}
{{outlet modal}}

