
{{#modal-dialog heading="Submit Link"}}
  <div class="w-form submission-form-wrapper">
    <form name="wf-form-submit">
      <span>{{titleError}}</span>
      {{input value=title class="w-input" placeholder="Title"}}
      <span>{{urlError}}</span>
      {{input value=url class="w-input" placeholder="Url"}}
      <span>{{usernameError}}</span>
      {{input value=username class="w-input" placeholder="Your username"}}
      {{textarea value=text class="w-input" placeholder="Discussion"}}
      <input class="w-button modal-button" type="submit" value="Submit"
        {{action "submit"}}></input>
      <input class="w-button modal-button cancel" type="submit" value="Cancel"
        {{action "closeSubmitModal"}}></input>
    </form>
  </div>
{{/modal-dialog}}

